/* Custom Gradient Background */
body {
  background: linear-gradient(to top, #e5e5e5, #f4f4f4);
  background-attachment: fixed;
}

/* Content Padding */
.page__content {
  padding-top: 2em;
  padding-bottom: 2em;
}
